header {
    position: fixed; 
    top: 0;
    background-color:transparent;
    width: 100%;
    display: flex;  
    flex-direction: row;
    justify-content: flex-start;
    float: left;
    z-index: 1;
    color: white;
  }
  .main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
  }
  #nav-bar li {
    float: left;
  }
  #nav-bar a {
    display: block;
    padding: 8px;
  }
  #header-img {
    height: 60px;
    margin-right: 20px;
  }
  .nav-link {
    margin: 10px;
    color: white;
    text-decoration: none;
  }
  .aboutme {
      width:100%;
  }
  .aboutme .col-left, .aboutme .col-right {
      width: 50%;
      float: left;
  }
  .aboutme .col-left img {
      max-width: 100%;
  }