header {
  position: fixed; 
  top: 0;
  background-color:transparent;
  width: 100%;
  display: flex;  
  flex-direction: row;
  justify-content: flex-start;
  float: left;
  z-index: 1;
  color: white;
}
.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
}
#nav-bar li {
  float: left;
}
#nav-bar a {
  display: block;
  padding: 8px;
}
#header-img {
  height: 60px;
  margin-right: 20px;
}
.nav-link {
  margin: 10px;
  color: white;
  text-decoration: none;
}
.fling-minislide {width:100%; height:600px; overflow:hidden; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}} 
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;
}



